<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448931888730-loiq124ahfs8s06gub5cq1rk59jcg759.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448931888730-loiq124ahfs8s06gub5cq1rk59jcg759</string>
	<key>API_KEY</key>
	<string>AIzaSyDvTKBn0eycv4XtMFa5yvfWM1V0JrARW9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>448931888730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZaidAhmad.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>messagingapp-dad9f</string>
	<key>STORAGE_BUCKET</key>
	<string>messagingapp-dad9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448931888730:ios:d47766c1b194813a</string>
	<key>DATABASE_URL</key>
	<string>https://messagingapp-dad9f.firebaseio.com</string>
</dict>
</plist>